.categories {
  margin-bottom: 88px;
}

.search-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.search-categories .card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.search-categories .card.single-line {
  padding-top: 50px;
}
.search-categories .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }
  .search-categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .search-categories .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .search-categories .card {
    width: 280px;
  }
}
