.destinations {
  width: 312px;
}

.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.destinations .item .img-item {
  width: 100%;
  height: 360px;
}

.destinations .tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .osaka .img-item {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .item h4 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 24px auto;
}

.destinations .item p {
  font-weight: var(--text-weight);
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 24px;
}

.destinations .item footer a {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    height: 452px;
  }
  .destinations .tokyo .img-item {
    background: url(../img/tokyo-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .osaka .img-item {
    background: url(../img/osaka-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .item footer a {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destinations .item .img-item {
    width: 588px;
  }
}
