.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.main-header .logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}

.main-header .img-mobile {
  display: block;
}

.main-header .img-desktop {
  display: none;
}

.main-header .navigation-menu {
  margin-top: 24px;
}

.main-header input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.main-header nav {
  display: none;
}

.main-header .list-links {
  list-style: none;
}

.main-header .list-links a.selected {
  text-decoration: underline;
}

.main-header .list-links li {
  margin: 16px 0;
}

.main-header .list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .main-header .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .main-header .navigation-menu label {
    display: none;
  }

  .main-header .navigation-menu nav {
    display: block;
  }

  .main-header .list-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .main-header .list-links li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 38px 120px;
  }

  .main-header .logo {
    width: 260px;
    height: 64px;
  }

  .main-header .img-mobile {
    display: none;
  }

  .main-header .img-desktop {
    display: block;
  }

  .main-header .navigation-menu a:hover {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 160px;
  }
}
