.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-image-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  font-weight: var(--text-weight);
  text-align: center;
  font-size: 20px;
  padding: 88px 24px;
  margin: 0;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-image-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    text-align: center;
    font-size: 32px;
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-image-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
