.reviews .reviews-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews .reviews-container article header {
  margin-bottom: 8px;
}

.reviews .reviews-container article header p {
  font-size: 16px;
  line-height: 20px;
}

.reviews .reviews-container article footer h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0;
}

.reviews .reviews-container article footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.reviews .reviews-container article footer img {
  width: 86px;
  height: 86px;
}

.reviews .reviews-container article footer .rating .star {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .reviews .reviews-container {
    flex-direction: row;
  }
}
